.lineStyles {
  background-color: #d6d6d6;
  padding: 1px;
  margin: 5px 40px 0px 20px;
}
.content {
  margin-right: 50px;
  margin-top: 20px;
}
.content p {
  text-align: left;
  color: var(--SHADE_OF_SECONDARY);
  font-size: 13px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  padding-top: 20px;
}
